name: Check

on:
  pull_request:
  workflow_dispatch:
  issue_comment:
    types: [created]

jobs:
  build-linux:
    runs-on: ubuntu-24.04
    strategy:
      max-parallel: 5    
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.12'
    
    - name: Set up virtual environment and install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        pip install -e .[all]
        pip install pytest pytest-mpl ruff
    
    - name: Check formatting with ruff
      run: |
        ./venv/bin/ruff format --check src
    
    - name: Run tests MPL backend Agg
      run: |
        export MPLBACKEND=Agg
        ./venv/bin/pytest tests/test_mpl.py
        ./venv/bin/pytest tests/test_ply.py